@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: segoe-script;
  src: url(./fonts/segoe_script.ttf);
}

@font-face {
  font-family: bradley;
  src: url(./fonts/bradley-hand-itc.ttf);
}

.ernie-font, h1, h2, h3, h4, h5, h6  {
  font-family: adobe-handwriting-ernie, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #595656;
  margin: 15px 0px;
}

.bradley-font {
  font-family: bradley;
  font-size: 12pt;
  color: #494848;
}

.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-light, p, a, span {
  font-family: lato,sans-serif;
  font-weight: 300;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
  .h1-size {
    font-size: 30pt;
    width: 100%;
  }

  .segoe-font {
    font-family: segoe-script;
    font-size: 10pt;
    color: #595656;
  }
}
